version: '3.8'

services:
  mysql-db:
    image: mysql:8.1
    container_name: mysql-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_management
    ports:
      - "3307:3306"
    volumes:
      - user_data:/var/lib/mysql
    networks:
      - app-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 20s
      retries: 10

  spring-app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: user-management-container
    restart: always
    ports:
      - "8080:8080"
    environment:
      DB_IP: mysql-db
      DB_PORT: 3306
      DB_USER: root
      DB_PASSWORD: root
      DB_DBNAME: user_management
      PORT: 8080
    depends_on:
      mysql-db:
        condition: service_healthy
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  user_data: